<!DOCTYPE html>
<html lang="en-US">

    <link rel="stylesheet" type="text/css" href="style/index.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=PT+Sans" />

    <head>
        <title> LinkedOut </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
        </title>
     </head>

     <body>
        <div id='app'>
         <div id = "homepage" v-show="showHome">
            <div class="container intro">
               <p>Our site helps users find or create group sporting events / outdoor activities in Ann Arbor</p>
            </div>
            <div class = "container">
             <p v-on:click="showCreatePage"><button id = "start" class = "btn hpBut"><p class="btn-text">I want to <strong>create</strong> an event</p></button></p>
             <p v-on:click="showJoinPage"><button id = "join" class = "btn hpBut"><p class="btn-text">I want to <strong>join</strong> an event</p></button></p>
            </div>
         </div> <!-- end homepage -->

         <div class = "filterPage">
         </div> <!-- end filter page -->

         <div id = "createEvent" v-show="showCreate">
            <h2>Create a group sporting event or outdoor activity!</h2>
             <form id="eventForm">
                  <label for="eventName">Event Name:</label><br>
                  <input v-model="eventName" name="eventName" type="text" cols="40" rows="5"><br>

                  <label for="eventType" class="labelDescription">Event Type:</label><br>
                  <p class="description">What type of sporting or outdoor event are you looking to create?</p>
                  <input v-model="eventType" name="eventType" type="text" cols="40" rows="5"><br>
         
                  <label for="yourName">Your Name:</label><br>
                  <input v-model="yourName" name="yourName" type="text" cols="40" rows="5"><br>

                  <label for="address">Address:</label><br>
                  <input v-model="address" name="address" type="text" cols="40" rows="5"><br>

                  <label for="date">Date:</label><br>
                  <input v-model="date" name="date" type="date" cols="40" rows="5"><br>

                  <label for="time">Time:</label><br>
                  <input v-model="time" name="time" type="time" cols="40" rows="5"><br>

                  <label for="gameDscp" class="labelDescription">Event Description:</label><br>
                  <p class="description">Enter any important information about your event such as desired skill level, number of participants, etc.</p>
                  <textarea v-model="gameDscp" name="gameDscp" class="textarea" cols="40" rows="5"></textarea><br>
             </form>
             <br>
             <button class = "btn" v-on:click="createEventHandler"><p class="btn-text">Create Event</p></button>
             <button class = "btn" v-on:click="createPageBack"><p class="btn-text">Back</p></button>

         </div> <!-- end create event page -->

         <div id = "joinEvent" v-show="showJoin">
            <button class = "btn" v-on:click="joinPageBack"><p class="btn-text">Back</p></button>
         </div> <!-- end join event page -->


         <div id = "createSuccess" v-show="showCreateSuccess">
            <h2>Your event has been succesfully created!</h2>
            <p><strong>Event Name:</strong> {{ eventName }} </p>
            <p><strong>Event Type:</strong> {{ eventType }} </p>
            <p><strong>Your Name:</strong> {{ yourName }} </p>
            <p><strong>Address:</strong> {{ address }} </p>
            <p><strong>Date:</strong> {{ date }} </p>
            <p><strong>Time:</strong> {{ time }} </p>
            <p><strong>Event Description:</strong></p>
            <p>{{ gameDscp }}</p>
            <button class = "btn" v-on:click="createSuccessHome"><p class="btn-text">Home</p></button>
         </div>
        </div> <!-- end app -->
        <script src="script.js"></script>
     </body>
</html>