<!DOCTYPE html>
<html lang="en-US">

    <link rel="stylesheet" type="text/css" href="style/index.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=PT+Sans" />

    <head>
        <title> LinkedOut </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
        </title>
     </head>

     <body>
        <div id='app'>
         <div id = "homepage" v-show="showHome">

            <div class="container logo">
               <img src="images/mainLogo.png">
            </div>

            <div class="container intro">
               <p>Our site helps users find or create group sporting events / outdoor activities in Ann Arbor</p>
            </div>
            <div class = "container">
             <p v-on:click="showCreatePage"><button id = "start" class = "btn hpBut"><p class="btn-text">I want to <strong>create</strong> an event</p></button></p>
             <p v-on:click="showFilterPage"><button id = "join" class = "btn hpBut"><p class="btn-text">I want to <strong>join</strong> an event</p></button></p>
            </div>
         </div> <!-- end homepage -->

         <div class = "filterPage">
         </div> <!-- end filter page -->

         <div id = "createEvent" v-show="showCreate">
            <h2>Create a group sporting event or outdoor activity!</h2>
             <form id="eventForm">
                  <label for="eventName">Event Name:</label><br>
                  <input v-model="eventName" name="eventName" type="text" cols="40" rows="5"><br>

                  <label for="eventType" class="labelDescription">Event Type:</label><br>
                  <p class="description">What type of sporting or outdoor event are you looking to create?</p>
                  <input v-model="eventType" name="eventType" type="text" cols="40" rows="5"><br>
         
                  <label for="yourName">Your Name:</label><br>
                  <input v-model="yourName" name="yourName" type="text" cols="40" rows="5"><br>

                  <label for="address">Address:</label><br>
                  <p class="description">Please enter a valid Ann Arbor address</p>
                  <input v-model="address" name="address" type="text" cols="40" rows="5"><br>

                  <label for="date">Date:</label><br>
                  <input v-model="date" name="date" type="date" cols="40" rows="5"><br>

                  <label for="time">Time:</label><br>
                  <input v-model="time" name="time" type="time" cols="40" rows="5"><br>

                  <label for="duration">Duration:</label><br>
                  <p class="description">Enter duration of event in hours</p>
                  <input v-model="duration" name="duration" type="number" min="0" max="10" cols="40" rows="5"><br>

                  <label for="gameDscp" class="labelDescription">Event Description:</label><br>
                  <p class="description">Enter any important information about your event such as desired skill level, number of participants, etc.</p>
                  <textarea v-model="gameDscp" name="gameDscp" class="textarea" cols="40" rows="5"></textarea><br>
             </form>
             <br>
             <button class = "btn" v-on:click="createPageBack"><p class="btn-text">Back</p></button>
             <button class = "btn" v-on:click="createEventHandler"><p class="btn-text">Create Event</p></button>
             <button id="sugButt" class = "btn" v-on:click="suggestActivate"><p class="btn-text">Suggestions</p></button>
         </div> <!-- end create event page -->
         
         <div id = "createSuccess" v-show="showCreateSuccess">
            <h2>Your event has been successfully created!</h2>
            <p><strong>Event Name:</strong> {{ eventName }} </p>
            <p><strong>Event Type:</strong> {{ eventType }} </p>
            <p><strong>Your Name:</strong> {{ yourName }} </p>
            <p><strong>Address:</strong> {{ address }} </p>
            <p><strong>Date:</strong> {{ date }} </p>
            <p><strong>Time:</strong> {{ time }} </p>
            <p><strong>Duration:</strong> {{ duration }} hours</p>
            <p><strong>Event Description:</strong></p>
            <p>{{ gameDscp }}</p>
            <button class = "btn" v-on:click="createSuccessHome"><p class="btn-text">Home</p></button>
         </div> <!-- end create success page -->

         <div id = "recommendations" v-show = "suggestBool">
            <h1 id="sugTitle">Common activities &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</h1> 
            <h1 id="xbutton" @click = "suggestActivate">&#10006</h1>
            <p>Click on the activity for a tutorial!</p>

            <div class="column left">
               <h2>Activity</h2>
               <a href="https://www.wikihow.com/Walk" target="_blank">Walking</a><br>
               <a href="https://www.wikihow.com/Jog" target="_blank">Jogging</a><br>
               <a href="https://www.wikihow.com/Throw-a-Frisbee" target="_blank">Frisbee</a><br>
               <a href="https://en.wikipedia.org/wiki/Volleyball#Rules_of_the_game" target="_blank">Volleyball</a><br>
               <a href="https://en.wikipedia.org/wiki/Basketball#Rules_and_regulations" target="_blank">Basketball</a><br>
               <a href="https://www.wikihow.com/Start-Running" target="_blank">Running</a><br>
               <a href="https://en.wikipedia.org/wiki/Golf#Rules_and_regulations" target="_blank">Golf</a><br>
               <a href="https://en.wikipedia.org/wiki/Badminton#Rules" target="_blank">Badminton</a><br>
               <a href="https://www.wikihow.com/Kayak" target="_blank">Kayaking</a><br>
               <a href="https://www.wikihow.com/Canoe" target="_blank">Canoeing</a><br>
               <a href="https://www.healthline.com/health/fitness-exercise/calisthenics" target="_blank">Calisthenics</a><br>

            </div>

            <div class="column right">
               <h2>Intensity Score</h2>
               <p>215</p><br>
               <p>501</p><br>
               <p>215</p><br>
               <p>286</p><br>
               <p>465</p><br>
               <p>573</p><br>
               <p>305</p><br>
               <p>394</p><br>
               <p>358</p><br>
               <p>285</p><br>
               <p>573</p><br>

            </div>

         </div>
         
         <div id = "filterContainer" v-show = "showFilter">
            <h2 style = "padding-left:5px;">Filter:</h2> <br> 
            <nav id = "scrollable">
               <ul>
                  <li class = "filterEvents"v-for="(value,name) in eventTypes">
                     <p class = "squeezeThis" @click = "choose(name)">{{name}}</p>
                     <p>{{value}}</p>
                  </li>
               </ul>
            </nav>
            <button id = "filterBack" class = "btn" v-on:click="filterPageBack"><p class="btn-text">Back</p></button>
         </div> <!-- end filter page -->

         <div id = "filterMap" v-show = "showFilter">
            <div class = "joinEventMap">
               <iframe width="100%" height="100%" style="border:0" loading="lazy" allowfullscreen
               src="https://www.google.com/maps/embed/v1/place?q=Ann%20Arbor%2C%20MI&key=AIzaSyCoBbJGfGZmi2b01d9clRvmGxg-kcvDhW0"></iframe>
            </div> 
         </div> <!-- end filter map -->
         
         <!-- <div id = "chooseEvent" v-show = "showChoose" v-for="retEvent in retEvents">
            {{retEvent}}
            
         </div> end choose event page -->

         <div id = "joinEventContainer" v-for="(retEv,index) in retEvents">
            <div v-show="retEv.isVisible">
               <div :id = "'joinEvent' + index" class = "joinEvent">
                  <div class = "joinEventInfo">
                     <p class="no-margin"><strong>{{retEv.eventName}}</strong></p>
                     <p class="no-margin">Started by: {{retEv.yourName}}</p>
                     <p class="no-margin">Address: {{retEv.address}}</p>
                     <p class="no-margin">Date: {{retEv.date}}</p>
                     <p class="no-margin">Time: {{retEv.time}}</p>
                     <p class="no-margin">Duration: {{retEv.duration}} hours</p>
                  </div>
                  <div class = "joinEventDscp">
                     <p><strong>Event Description:</strong></p>
                     <p id="eventType" class="no-margin">Event Type: {{ retEv.type }}</p>
                     {{retEv.description}}
                  </div>
                  <h4 v-show="retEv.reported" style = "color:red; margin: 0;">
                     This event has been reported by another user.
                  </h4>
                  <h4 id = "optData" v-show="retEv.eventCals">
                     Intensity Score: {{retEv.eventCals}} <br>
                     <a v-bind:href="retEv.eventTutorial" target="_blank"> Click here for instructions! </a>
                  </h4>
                  <button id = "join-partic" class = "btn" v-on:click="seeParticipants(index)"><p class="btn-text">See Participants</p></button>
                  <div class = "participantTab" v-show="retEv.participantVisible">
                     <h3>Participants:</h3>
                     <p class="no-margin" v-for="name in retEv.participants">{{name}}</p>
                     <button class="btn closeParticipantTab" v-on:click="closeParticipants(index)">Close Participants</button>
                  </div>
               </div> <!-- end join event page -->
               
               <div class = "joinEventMap">
                  <iframe width="100%" height="100%" style="border:0" loading="lazy" allowfullscreen
                  :src="retEv.apiURL"></iframe>
               </div> 
               <!-- end join event map -->
               <button id = "join-back" class = "btn" v-on:click="joinPageBack"><p class="btn-text">Back</p></button>
               <button id = "join-prev" class = "btn" v-on:click="preEvent(index)"><p class="btn-text">Previous Event</p></button>
               <button id = "join-next" class = "btn" v-on:click="nextEvent(index)"><p class="btn-text">Next Event</p></button>
               <button id = "join-confirm" class = "btn" v-on:click="joinShowName(index)"><p class="btn-text">Join!</p></button>
               <button id = "join-report" class = "btn" v-on:click="joinReport(index)"><p class="btn-text">Report</p></button>
            </div>


            <div class="joinPage" v-show="retEv.joinPage">
               <h3 style="margin-top: 50px;" class="joinPageHeader">Your Name:</h3>
               <input v-model="joinParticipantName" name="yourName" type="text" cols="40" rows="5"><br>
               <button style="margin-top: 50px;" class = "btn" v-on:click="joinEventHandler(index)"><p class="btn-text">Join Event</p></button>
            </div> <!-- end join page -->

            <div class="joinConfirmPage" v-show="retEv.joinConfirmPage">
               <div>
               <h2 style="margin-top: 50px;">You have successfully joined this event!</h2>
               <button style="margin-top: 50px;" class = "btn join-confirm-back" class = "btn" v-on:click="joinConfirmBack(index)"><p class="btn-text">Back</p></button>
               </div>
            </div> <!-- end join confirm page -->
         </div> <!-- end join event container -->
        </div> <!-- end app -->
        <script src="script.js"></script>
     </body>
</html>