html,
body {
  background-color: beige;
}

p,
label {
  font-family: "PT Sans";
  font-size: 18px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#homepage {
  background-color: beige;
}

.intro {
  position: relative;
  top: 180px;
}

.logo {
  position: relative;
  top: 130px;
}

.btn-text {
  margin: 0px;
  font-family: "PT Sans";
}

.hpBut {
  position: relative;
  top: 210px;
}

button {
  background-color: #97cddf;
  width: 300px;
  font-size: 100px;
}

#createEvent {
  background-color: beige;
  padding-left: 5px;
}

#joinEvent {
  background-color: beige;
  position: relative;
}

#filterContainer {
  position: relative;
  float: left;
  width: 30%;
  height: 500px;
  background-color: gainsboro;
  border: 5px solid black;
  margin-left: 5px;
}

.filterEvents {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  width: 88%;
  height: auto;

  position: relative;
  font-family: "PT Sans";
  font-size: 40px;
  left: 5%;
  cursor: pointer;
  color: darkblue;
}
.filterEvents:hover {
  color: blue;
  font-weight: bold;
}
.squeezeThis {
  width: 70%;
  overflow: auto;
  height: auto;
}

#filterBack {
  position: relative;
  top: 50px;
}

.joinEvent {
  position: relative;
  float: left;
  width: 30%;
  height: 500px;
  border: 5px solid black;
  margin-left: 5px;
  background-color: white;
}

.joinEventInfo {
  border-bottom: 5px solid black;
  background-color: white;
  padding-left: 5px;
}

.joinEventDscp {
  border-bottom: 5px solid black;
  background-color: gainsboro;
  width: 100%;
  height: 200px;
  overflow-y: auto;
}

#join-back {
  position: absolute;
  top: 550px;
  left: 40px;
}

#join-prev {
  position: absolute;
  top: 550px;
  left: 380px;
}

#join-next {
  position: absolute;
  top: 550px;
  left: 720px;
}

#join-confirm {
  position: absolute;
  top: 550px;
  left: 1060px;
  background-color: #ccffcc;
}

.joinEventMap {
  position: relative;
  float: right;
  width: 66%;
  height: 500px;
  border: 5px solid black;
  background-color: beige;
}

.textarea {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.description {
  margin: 0;
  font-size: 10px;
  opacity: 80%;
  margin-bottom: 5px;
}

.labelDescription {
  margin-bottom: 0;
}

label {
  margin-top: 10px;
}

.textarea {
  width: 450px;
}

#createSuccess {
  background-color: beige;
  padding-left: 5px;
}

#joinConfirmPage {
  position:relative;
  background-color: #ccffcc;
  margin: 0 auto 0 auto;
  width:50%;
  text-align:center;
  border: 5px solid black;
}

#joinConfirmPage div{
  position: relative;
  bottom: 200px;
}

nav ul{
  height:410px; 
  width:100%;
  padding-left: 0;
}

nav ul{
  overflow-y: scroll;
  list-style-type: none;
  padding: none;
  margin: none;
}

nav ul p{
  padding: none;
  margin: none;
}

.no-margin {
  margin: 0;
}

#eventType {
  font-size: 14px;
}