html, body {
  background-color: beige;
}

p, label {
  font-family: "PT Sans";
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#homepage {
  background-color: beige;
}

.intro {
  position: relative;
  top: 385px;
}

.btn-text {
  margin: 0px;
  font-family: "PT Sans";
}

.hpBut {
  position: relative;
  top: 400px;
}

button {
  background-color: #97cddf;
  width: 300px;
  font-size: 100px;
}

#createEvent {
  background-color: beige;
}

#joinEvent {
  background-color: beige;
}
.textarea {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
